[user]
	name = tegt
	email = grant@tegt.com
[push]
	default = matching
[core]
	excludesfile = /home/tegt/.gitignore_global
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  ig = ls-files -o -i --exclude-standard